@font-face {
  font-family: roboto;
  src: url(./Roboto-VariableFont_wdth\,wght.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto;
}

html,
body {
  height: 100%;
  width: 100%;
}

.hero {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background-image: url(./images/hero.webp);
  background-size: cover;
  background-position: top;
  position: relative;
  z-index: 9;
}

.navbar {
  color: #fff;
  padding: 30px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo i {
  margin-right: 4px;
  font-size: 28px;
}

.logo h1 {
  font-size: 28px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

ul li {
  font-size: 20px;
  font-weight: 600;
  list-style: none;
}

#shop-btn {
  font-size: 12px;
  border: 1px solid rgb(255, 255, 255);
  padding: 8px 13px;
  border-radius: 50px;
}

#bag i {
  margin-left: 8px;
  padding: 8px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
}

.hero-content {
  height: 85%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 40px;
}

.hero-content p {
  font-weight: 700;
  color: #d0d0d0;
}

.hero-content h1 {
  font-size: 70px;
  color: #fff;
}

.products {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.first-dets {
  text-align: center;
}

.first-dets p {
  color: gray;
}

.mid-dets {
  margin: 30px 0;
  text-align: center;
}

.mid-dets p {
  font-size: 12px;
  color: gray;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card {
  height: 400px;
  width: 320px;
  background-color: rgb(237, 237, 237);
  border-radius: 30px;
  overflow: hidden;
}

.card-img-box {
    height: 65%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?q=80&w=1448&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: right;
}

.card p {
    padding: 0 10px;
    margin: 20px 0;
    font-size: 12px;
}

.card h4 {
    margin: 40px 10px;
    border: 1px solid rgb(200, 200, 200);
    padding: 10px 20px;
    border-radius: 50px;
}

.card h4>i {
    color: red;
    margin-right: 20px;
}

#all-pro-btn button {
  padding: 20px 35px;
  border: none;
  border-radius: 50px;
  color: #fff;
  background-color: #000;
}

.meet-kini {
  padding: 30px 10px;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  border: rgb(0, 0, 0) 1px solid;
  padding: 50px 0;
  height: 80%;
  width: 80%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 9;
  background: linear-gradient(
    to right,
    rgb(255, 119, 0),
    #f3ece2,
    #f3ece2,
    lightgreen
  );
}

.bg-img-box {
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: 70%;
  width: 40%;
  background-image: url(./images/kini.webp);
  background-repeat: no-repeat;
  background-size: fill;
  background-position: bottom;
}

.box h1 {
  color: rgb(160, 160, 160);
}

.box h1 b {
  color: #000;
}

.kini-dets {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;
  background-color: #0000006b;
  padding: 20px 50px;
  border-radius: 50px;
  font-weight: 700;
}

.kini-dets p {
  color: #fff;
}

#buy-now-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#buy-now-btn button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  color: #000000;
  background-color: #ffffff;
}

.benefits {
  margin-top: 20px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
}

.benefit-headings {
  text-align: center;
}

.benefits-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.benefits-card {
  height: 400px;
  width: 50%;
  background-color: #f3ece2;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.img-box {
  height: 100%;
  width: 35%;
  background-image: url(https://images.unsplash.com/photo-1742750278919-44f93c8c4763?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: top;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blur-details {
  height: 20%;
  width: 60%;
  border-radius: 8px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.311);
}

.blur-details p {
  font-size: 14px;
}
.blur-details h3 {
  font-size: 20px;
}

.benefit-details {
  height: 100%;
  width: 65%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#top-details h1 {
  font-size: 40px;
}

#top-details p {
  color: gray;
}

#bottom-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 50%;
}

#btm-detail-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

#btm-detail-box p {
  width: 50%;
  padding: 20px 25px;
  border: 1px solid gray;
  border-radius: 10px;
}

.testimonials {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.testimonial-heading {
  margin: 30px 0;
  text-align: center;
}

.testimonial-heading p {
  font-size: 15px;
  color: gray;
}

.testimonial-cards-container {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.testimonial-img-box {
  height: 50%;
  width: 12%;
  background-image: url(https://images.unsplash.com/photo-1709584416539-54692a1f0076?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: top;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.testimonial-details {
  width: 76%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  font-size: 25px;
}

#test-det-first p {
  color: gray;
}
#test-det-first p > b {
  color: #000;
}

#test-det-second > p {
  margin-bottom: 8px;
}

#test-det-second > p > b {
  font-weight: 800;
  margin-right: 10px;
}
#test-det-second > p > span {
  padding: 4px 10px;
  background-color: rgb(195, 195, 195);
  border-radius: 5px;
}

.next {
  width: 12%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1709584416539-54692a1f0076?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: top;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.footer-section {
  padding: 50px 80px;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #000;
}

.quick-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
}

.first-box {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo i {
  margin-right: 4px;
  font-size: 38px;
  color: #fff;
}

.footer-logo h1 {
  font-size: 38px;
  color: #fff;
}

.icons {
    margin-bottom: 15px;
}

.icons i {
    font-size: 35px;
    margin-right: 10px;
    color: #fff;
}

.items h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #b9b9b9;
}
.items h4>i {
    margin-right: 10px;
}

.second-box {
    height: 100%;
    width: 15%;
}

.second-box ul li {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
}

.third-box {
    height: 100%;
    width: 25%;
}

.third-box ul li {
    font-size: 18px;
    margin-bottom: 10px;
    color: gray;
}

.footer-dets p{
    color: gray;
}

.footer-public-logos {
    width: 100%;
}

.fame-spread {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fame-spread img {
    height: 50px;
}